.cards {
  display: flex;
  flex-direction: row;
  margin: 10px;
  overflow-x: scroll;
}

body{
  margin: 20px;
}

.card-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-fullname{
  font-size: 25px;
  margin-top: 5px;
  color: white;
  align-items: center;
}

.container-btn{
  display: flex;
  justify-content: space-evenly;
}

.btn-edit{
  color: rgb(219, 219, 219);
  font-size: 15px;
  background-color: rgba(0, 114, 190, 0.739);
}

.btn-add{
  color: rgb(219, 219, 219);
  font-size: 15px;
  background-color: rgba(231, 154, 0, 0.739);
}

.title-card{
  color: #ECECEC;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 5px;
  padding-left: 10px;
}

.container-booking a, ul, li{
  color: white;
  font-size: 15px;
}



.container-rents{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  font-size: 20px;
}

.cards a{
  text-decoration: none;
  color: white;
}

.mycars-profile ul, li{
  bottom: 10px;
  color: white;
}

.ul-profile{
  color: black;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(13, 13, 13);
  border: 1px solid #464646;
  border-radius: 1px;
  box-shadow: 0 0 15px rgba(54, 54, 54, 0.2);
  margin: 6px;
}

.card-category:hover{
  transition: 0.8s ease;
  transform: scale(1.04);
  opacity: 1;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
