#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e5e5e5;
  background-color: #000;
 }
 .navbar {
  background-color: black;
  z-index: 2;
  height: 15vh;
 }
 .navbar-item {
  height: 25px;
  width: auto;
 }

.navbar-links a, ul, li{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  color: #959595;
  text-transform: uppercase;
  font-family: 'Bebas Neue', Helvetica, Arial, sans-serif;
  margin: 12px;
  font-weight: 600;
  margin-right: 30px;


  &:hover{
    color: #DB202C;
    transition: 0.7s ease;

  }
}

.navbar a{
  font-size: 15px;
}
 .main-container{
   display: flex;
   justify-content: space-around;
   text-align: center;
 }

.search-bar-nav{
  padding-left: 30px;
}


:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
body, input {
	color: #171717;
}
.search-bar {
	display: flex;
}
body {
	background: #959595;
	height: 100vh;
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
	transition: all 0.35s ease-out;
}
.search-bar input,
.search-btn {
	width: 2em;
	height: 2em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 0.5em;
	justify-content: center;
	max-width: 12em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #db0000 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #959595;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #DB202C;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
  width: 18px
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #000000;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #959595;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #959595 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #000000;
		box-shadow: 0 0 0 0.1em #2e2e2e inset;
	}
	.search-btn {
		background: #959595;
	}
}

 @media screen and (max-width: 1000px) {
  .avatar-square{
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand img{
    width: 120px;
  }
  .navbar-links{
    display: none;
  }
}

@media screen and (max-width: 600px){
  .navbar-brand img{
    width: 120px;
  }
  .avatar-square{
    display: flex;
    justify-content: space-between;
  }
}
