<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/360097.jpg);">
  <div class="container-banner">
    <h1><span class="small-h1">bring  </span><strong>FICTION</strong><span class="small-h1">to</span><strong> <br>REALITY</strong></h1>
  </div>
</div>
